/**
 * Button Styles
 */
a {
    @include shadow;
    @include transition;
    @include h5-font-style;
    display: inline-block;
    text-decoration: unset;
    color: white;
    background-color: black;
    padding: 10px 25px;
    border-radius: 10px;

    &:hover,
    &:focus {
        transform: scale(0.96);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    }
}