/**
 * Site containing elements
 */
body {
    background-color: rgb(255, 251, 246);
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
}


.wp-site-blocks {
    padding: 0 15px;
    animation-name: fadeIn;
    animation-duration: 2s;

    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6,
    &>p,
    .wp-block-create-block-kanopi-react-block {
        max-width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}