/**
 * Site containing elements
 */
body {
    background-color: rgb(255, 251, 246);
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


.wp-site-blocks {
    padding: 0 15px;
    animation-name: fadeIn;
    animation-duration: 2s;
}