/**
 * Typography Styles
 */
@mixin h1-font-style {
    font-size: 4rem;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
        font-size: 3rem;
    }
}

@mixin h2-font-style {
    font-size: 3rem;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

@mixin h3-font-style {
    font-size: 2rem;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

@mixin h4-font-style {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

@mixin h5-font-style {
    font-size: 1.5rem;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;
    }
}

@mixin h6-font-style {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;
    }
}

@mixin p-font-style {
    font-size: 1.5rem;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

h1 {
    @include h1-font-style();
}

h2 {
    @include h2-font-style();
}

h3 {
    @include h3-font-style();
}

h4 {
    @include h4-font-style();
}

h5 {
    @include h5-font-style();
}

h6 {
    @include h6-font-style();
}

p {
    @include p-font-style();
    margin-top: 20px;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}